<a href="https://colab.research.google.com/github/x3x31/ColetaSeletiva/blob/main/ColetaSeletiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
#importando nossas bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
#selecionando a fonte de dados
fonte = "https://github.com/x3x31/ColetaSeletiva/blob/main/dataset.csv?raw=true"

In [59]:
#leitura de dados
dados = pd.read_csv(fonte)

In [60]:
#visualizando nossas colunas
dados.columns

Index(['codigo', 'minicipio', 'UF', 'POP_TOT', 'Co164', 'Co111', 'Co108',
       'Co109', 'Cs048', 'Co140', 'Cs001', 'Cs026', 'Cs023', 'Cs024', 'Cs0482',
       'Cs025', 'Cs050', 'Cs009', 'Cs010', 'Cs011', 'Cs012', 'Cs013', 'Cs014'],
      dtype='object')

In [62]:
#visualizando os 5 primeiros itens dos nossos dados
dados.head()
#dados['UF'].unique()

   codigo           minicipio  UF POP_TOT  Co164  ... Cs010 Cs011 Cs012 Cs013 Cs014
0  410010              Abatia  PR   7.507  5.542  ...    30    32    28    18    15
1  420005       Abdon Batista  SC   2.577  1.400  ...     0     0     1     0     0
2  350060  Aguas de Sao Pedro  SP   3.380  3.380  ...  46,5    50  13,9   4,6     2
3  410030       Agudos do Sul  PR   9.269  5.000  ...    22     5     8     5    10
4  500025         Alcinopolis  MS   5.268  3.616  ...    30    80    25     0    15

[5 rows x 23 columns]

In [66]:
cidades_possui_coleta_seletiva = dados[(dados['Cs001'] == 'Sim')]
cidades_possui_coleta_seletiva

     codigo           minicipio  UF  POP_TOT  ...  Cs011  Cs012 Cs013  Cs014
0    410010              Abatia  PR    7.507  ...     32     28    18     15
1    420005       Abdon Batista  SC    2.577  ...      0      1     0      0
2    350060  Aguas de Sao Pedro  SP    3.380  ...     50   13,9   4,6      2
3    410030       Agudos do Sul  PR    9.269  ...      5      8     5     10
4    500025         Alcinopolis  MS    5.268  ...     80     25     0     15
..      ...                 ...  ..      ...  ...    ...    ...   ...    ...
354  320520          Vila Velha  ES  486.208  ...      8      8     8      4
355  320530             Vitoria  ES  358.267  ...  187,7  131,9     0      0
356  421935      Vitor Meireles  SC    5.014  ...      8     48    12      4
357  412850      Wenceslau Braz  PR   19.444  ...  166,7  111,1   103  128,3
358  421950             Xanxere  SC   50.309  ...     28     11     0     13

[359 rows x 23 columns]